.nombre-sitio {
  margin-top: 5rem;

  span {
    color: $primary;
  }
}

.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}

.navegacion-principal {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.hero {
  height: 55rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
