.text-center {
  text-align: center;
}

.btn {
  background-color: $green;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1rem;
  transition: background-color 0.3s ease-out;

  &:hover {
    background-color: $greenHover;
  }
}
